body {
    padding: 20px;
    margin: 0;
}
.step {
    display: none;
}
#step0 {
    display: block;
}
#test-api-insert {
	display: none;
}
.margin-top-grid {
	margin-top: 15px;
}
.slds-form-element__help {
	display: none;
}
#onlineKey {
	display: none;
}
#instoreKey {
	display: none;
}